<ion-header>
  <ion-toolbar>
    <ion-title class="title-align">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=16sL85fCiC5QVJsjgMPoWUTy374Wmlsny
    "
      alt="imagem solidariedade"
    />
    <p>
      Existem pessoas precisando muito da suua ajuda! veja abaixo como ajudar 🤗
    </p>
    <ion-card
      class="animate__animated animate__fadeInLeft"
      [routerLink]="['/tabs/tab2']"
    >
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            class=""
            src="https://drive.google.com/uc?id=1beDxDVrPMw9F-liUF9y1Kyf7b0i_fko1"
            alt=" quero doar image"
          />
        </ion-thumbnail>
        <ion-label>Quero Doar</ion-label>
      </ion-item>
    </ion-card>

    <ion-card
      class="animate__animated animate__fadeInLeft"
      [routerLink]="['/tabs/tab3']"
    >
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            class=""
            src="https://drive.google.com/uc?id=1rAoVaWVzRzXbyFiKN33fnmov2XhCzagP"
            alt="Preciso de doações"
          />
        </ion-thumbnail>
        <ion-label>Preciso de doações</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
